div.article {
  margin: 0% 2%;
  border: black solid 3px;
  border-radius: 16px;
}

div.article.class-1 {
  height: 315px;
}

div.article.class-2 {
  height: 315px;
}

div.article.active {
  box-shadow: 10px 10px grey;
}

div.article
div.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Alfa Slab One';
  font-size: xx-large;
  padding: 2%;
}

div.article
div.header.class-1 {
  font-size: large;
}

div.article
div.header.class-2 {
  font-size: medium;
}

div.article
div.body {
  display: flex;
  justify-content: space-around;
}

div.article
div.body
div.text {
  padding: 0% 2% 2% 2%;
  font-size: medium;
}

div.article
div.body
div.text.class-2 {
  padding: 0% 2% 2% 2%;
  font-size: small;
}

div.article
div.body
div.media
img {
  padding: 0% 2% 2% 2%;
  width: 550px;
}

div.article
div.body
div.media
img.class-1 {
  width: 250px;
}

div.article
div.body
div.media
img.class-2 {
  width: 150px;
}
